server:
  port: 8083
  forward-headers-strategy: native   # để Spring detect X-Forwarded-Proto từ Nginx/Traefik

open:
  api:
    title: Alpha Mini Logs Service
    version: 1.0.0
    description: SEP project with AlphaMini API
    serverUrl: ${OPEN_API_SERVERURL:http://localhost:8083}

springdoc:
  api-docs:
    server:
      url: ${OPEN_API_SERVERURL:http://localhost:8083}  # dùng biến môi trường, fallback HTTP nội bộ
  swagger-ui:
    path: /swagger
    tags-sorter: alpha
    operations-sorter: alpha
    display-request-duration: true

logging:
  level:
    com.mineduck1608.alpha.code.alphacodelogsservice: DEBUG
    org.springframework.web.client.RestTemplate: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"

logproxy:
  loki-url: http://loki:3100/loki/api/v1/push  # Loki nội bộ, không public
  queue-size: 10000
  worker-count: 4
  max-retries: 5
  base-delay-ms: 1000
  failed-log-file: failed-logs.jsonl

grpc:
  client:
    alpha-course-service:
      address: static://${GRPC_COURSE_SERVICE_BASE_URL}:${GRPC_COURSE_SERVICE_PORT}
      enableKeepAlive: true
      keepAliveWithoutCalls: true
      negotiationType: plaintext
